# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
*/__pycache__/
__pycache__/
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version

# Notebooks for testing implementations
*/notebooks/
notebooks/
Notebooks/*
!Notebooks/Tutorial_01_implement_simplex.ipynb
!Notebooks/Tutorial_02_implement_simplex_time_series.ipynb
!Notebooks/Tutorial_03_implement_dynamask.ipynb
!Notebooks/Tutorial_04_implement_shap.ipynb
!Notebooks/Tutorial_05_implement_symbolic_pursuit.ipynb

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# images
images/*
!images/Short_intro_video_thumbnail.png
!images/Interpretability_method_flow_diagram.svg
!images/interpretability_suite_image.png
images/archived_images/
symbolic_pursuit_expression.png
symbolic_pursuit_projections.png



# output
output/
# Keep empty output folder
!output/.gitkeep


# data
notebooks/data/
notebooks/data/MNIST/
notebooks/data/MNIST/raw/
data/
raw.githubusercontent.com/

# resources
resources/
resources/data_scalers
resources/saved_explainers

# models
**/models/train_*.py
models/resources
models/resources/trained_models

